html {
  background-image: url(wallpaper.jpg);
  background-repeat: repeat;
  margin: 0;
  /* white-space: nowrap; */

/* om jag inte tar bort marginalen vill den scrolla. white-space gör så att mellanrum i koden inte räknas*/
}

body {
  margin: 0;
  background-image: linear-gradient(transparent 80%, black 10%, orange);
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}

.container {
  /*grid med en rad tre kolumner (för tv:n lampknappen och tavlan)*/
  display: grid;
  grid-template: 1fr / 1.8fr 0.2fr 1fr;
  min-height: 100vh;
}

/* ********************************************************************
                        TV-APPARATEN
******************************************************************** */

#tv {

  max-width:700px;

  align-self: flex-end;
  justify-self: center;

  grid-row: 1;
  grid-column: 1;

  display: flex;
  flex-direction: column;

  /* display:grid;
  grid-template:20px auto auto / 20px auto 20px; */
  /* grid-template:30px minmax(auto, max-content) auto / 20px minmax(auto, max-content) 20px; */

  background-color: olivedrab;
  border-radius: 60px;

  margin: 8%;
  border: 5px solid rgb(30, 39, 17);

  box-shadow: inset 0px 0px 50px 10px black;
}

div#tvScreen {

  display:grid; 
  grid-template-columns: 40vw;
  /* minmax(1fr, 640px);  */
  /* onödigt, kan vara bara 1fr */
  grid-template-rows: 22.5vw;
  /* min-content hindrar att tv:n hoppar men den blir oflexibel*/
  position:relative;
  /* fix för annars fattar inte safari overflow hidden */

  margin: 30px;

  overflow: hidden;

  grid-row: 2;
  grid-column: 2;

  background-color: rgb(27, 25, 25);
  box-shadow: inset 0 0 50px black;
  background-image: url("static.gif");
  border-radius: 50px;

  border: solid rgb(30, 39, 17) 5px;

  padding:0;
  justify-content: center;
  align-items: center;
  text-align: center;

  max-height:360px;
  

  /* om jag inte sätter höjd och bredd blir videon dynamisk MEN tv:n lite lägre innan den sätts på */

  /* position: relative;
  padding-top: 56.25%;  */
}

video#tvChannel {

  visibility: hidden;
  height: auto;
  max-width: 100%;
  grid-row: 1;
  grid-column: 1;
  
  /*läs på detta. varför både bredd och maxbredd? */
  /* object-fit: initial; */
  /* funkar nog inte */
 
  width: 640px;
  /* height:360px; */
  display: block;
  padding:0; margin:0;
  /* tar bort radbrytning efter */

  /* position: absolute;
  top: 0;
  left: 0;    */
}

button {
  box-shadow: inset 0px 5px 5px black;
  border-radius: 20px;
  padding: 1em;
  background-color: olive;
  outline: none;
}

button:last-child {
  background-color: orangered;
}

button:nth-last-child(2) {
  background-color: orange;
}

button:hover {
  background-color: gold;
}

.buttons {
  /* flex: 3 1 auto; */
  grid-row: 3/4;
  grid-column: 2/3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1em 0 3em 0;
  /*en flexcontainer som innehåller tv-knapparna*/
}

/* ********************************************************************
                        TAVLAN
******************************************************************** */

section {
  /*gridcellen som innehåller tavlan*/
  grid-row: 1;
  grid-column: 3;
  text-align: center;
  /* gör att tavlan sitter mitt på väggen */
}

aside {
  /*gridcellen som innehåller lampknapp*/
  grid-row: 1;
  grid-column: 2;
  margin: auto;
}


.paintingContainer {
  display: inline-grid;
  grid-template: auto 72% auto / auto 66% auto;
  margin: 20px;
  align-items: center;
  align-content:center;
  justify-content: center;
}

#frame {
  grid-row: 1/4;
  grid-column: 1/4;
  /* width: 100%; */
  max-width: 100%;
  display: block;
  height: auto;
}

section video {
  /*videon i tavelramen*/
  display:block;
  /*för annars hoppar den ur ramen i smalskärm - konstigt*/
  grid-row: 2/3;
  grid-column: 2/3;
  height: 100%;
  /*om jag sätter höjden till auto ändrar den storlek när videon laddas*/
  width: auto;
  max-width: 100%;
  max-height:100%;
  /*onödigt tror jag*/
  outline: none;
  margin:auto;
}

.hidden {display:none}

input#color {
  grid-row: 1;
  grid-column: 1;
  display: none;
  align-self: flex-start;
  justify-self:center;
  background-color:grey;
  margin: 20px;
  padding:5px;
  border-radius: 5px;
  box-shadow: inset 5px 5px 5px black;
  outline: none;
}

p#colorOptions {
  grid-row: 1;
  grid-column: 1;
  max-width:100%;
  cursor: pointer;
  background-color: black;
}


/* ********************************************************************
                        MOBILVERSION
******************************************************************** */

@media only screen and (max-width: 550px) {

  .container {
    /*den största flexbox-behållaren */
    display: grid;
    grid-template: auto auto/ 1fr;
    gap: 0;
  }

  #tv {
    /* display:block; */
    background-color: seagreen;
    grid-row: 2;
    grid-column: 1;
    margin: 10px;
  }

  #tvchannel {
    width: 480px;
  }

  section {
    grid-row: 1;
    grid-column: 1;
    margin: 0;
  }

  html {
    height: 100%;
  }

  body {
    min-height: 100%;
  }

  /* section video {
    videon i tavelramen

    display: block;
    för annars hoppar den ur ramen - konstigt
  } */

  aside {
    display: none;
  }

  .paintingContainer {
    margin-top: 0;
  }

}