body,
html {
    margin: 0;
    padding: 0;
}

:root {
    --shadow: rgba(0, 0, 0, 0.5);
}

div#preload {
    display: none;
}

/* *****************************
---Läggs på med javascript-----
*******************************/

.hidden {
    display: none;
}

.new-wallpaper {
    background-image: linear-gradient(90deg, transparent, var(--shadow)), url("./images/wallpaperPink.jpg");
}

.blink {
    -webkit-animation: blink 0.6s infinite alternate;
    animation: blink 0.6s infinite alternate;
}

@keyframes blink {
    to{box-shadow: inset 0 0 50px gray;}


    /* to {
        box-shadow: inset 0 0 100px grey;
    } */
}

.static {background-image: url("./images/static.gif");}

/* *****************************
-------------RUMMET------------
*******************************/
body {
    font-family: 'Trebuchet MS', 'Verdana', sans-serif;
    background-color: burlywood;
    background-image: url("./images/wood.jpg");
    background-repeat: repeat;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto;
    height: 100vh;
    min-height: 100vh;
}

section {
    display: flex;
    background-image: url("./images/wallpaperGreen.jpg");
    /* fallback */
    background-image: linear-gradient(90deg, transparent, var(--shadow)), url("./images/wallpaperGreen.jpg");
}

section:first-of-type {
    align-items: flex-start;
    justify-content: center;
    grid-area: 1/1/2/2;
    border-right: black solid 2px;
    clip-path: polygon(0 0, 100% 0%, 100% 87%, 0% 100%);
    padding-top: 7%;
    perspective: 400px;
}

/* sass: .half-black {
    background: rgba(black, 0.5);
  } */

section:last-of-type {
    /* position: relative;
    z-index: 0; */
    /* av okänd anledning gör clip-path att section lägger sig överst utan denna fix*/
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    grid-area: 1/2/2/3;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 87%);
}

footer {
    grid-area: 2/1/3/3;
}

video {
    outline: none;
}

/* *****************************
-----GREJOR PÅ HÖGRA VÄGGEN-----
*******************************/

.secretFlower {
    width: 139px;
    height: 154px;
}

.secretFlower:hover {
    background-image: url("./images/flower.png");
    background-repeat: no-repeat;
    cursor: crosshair;
}

.lightswitchAntenna {
    display: flex;
}

.lightswitch {
    align-self: center;
    margin-left: -5vw;
}

.clock {
    background-image: url("./images/clock.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 3vh 3vh 0 0;
}

.minutes,
.hours {
    grid-area: 1/1/2/2;
    margin: auto;
}

/* *****************************
-------------TAVLAN------------
*******************************/


.painting {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 71.11vh;
    width: 40vh;
    background-image: url("./images/frame.png");
    transform: rotateY(15deg);
}

#paintingVideo {
    height: 66%;
    width: 66%;
    object-fit: fill;
}

/* *****************************
-------------TVN------------
*******************************/

.antenna {
    display: block;
    margin: auto;
    max-height: 20vh;
    min-height: 112px;
}

#tvVideo {
    height: 100%;
    width: 100%;
}

#tvScreen {
    max-height: 360px;
    max-width: 640px;
    height: 33.75vh;
    width: 60vh;
    overflow: hidden;
    border: solid rgb(30, 39, 17) 5px;
    box-shadow: inset 0 0 50px black;
    background-color: rgb(63, 60, 60);
    border-radius: 50px;
    position: relative;
    /* fix för annars fattar inte safari overflow hidden */
    margin: 3vh 0 10vh 3vh
        /* margin: 5% 0 18% 5%; */
}

.tv {
    background-color: rgb(122, 109, 91);
    border-radius: 60px;
    border: 5px solid rgb(30, 39, 17);
    box-shadow: inset 0px 0px 50px 10px black;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
}

.tvContainer {
    position: relative;
    z-index: 1;
    grid-area: 1/2/2/3;
    align-self: flex-end;
    justify-self: center;
    margin-top: 154px;
    /* för att länkblomman ej ska hamna bakom*/
    margin-left: 5vw;
    /* för att lysknappen ej ska hamna på fel vägg*/
}

/* tv:n och section2 (tapeten på höger vägg) ligger i samma gridcell med olika z-index. om tv:n ligger i section klipps den av i botten */

/* *****************************
----------TV-KNAPPAR------------
*******************************/

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2vh;

    /* padding-left:5vh; */
    /* margin: 5% 0 18% 5%; */
    /* margin: 2em 1em 0 1em; */
}

button {
    box-shadow: inset 0px 5px 5px black;
    border-radius: 50%;
    padding: 2vh;
    margin: 1vh;
    background-color: darkslategray;
    outline: none;
    border: 3px solid black;
    cursor: pointer;
    transition: background-color 0.4s;
}

button:last-child {
    border-radius: 10%;
}

button:last-child:hover {
    background-color: darkred;
}

button:nth-last-child(2) {
    background-color: slategray;
}

button:nth-last-child(2):hover {
    background-color: lightgray;
    
}

button:hover {
    background-color: teal;
}

/* *****************************
-------------FÄRGVAL------------
*******************************/
.colorChange {
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.colorChange.hidden {
    display: none;
}

input#colorInput {
    background-color: rgb(31, 31, 31);
    padding: 8px;
    border-radius: 5px;
    color: beige;
    border: 1px solid gray;
    justify-self: flex-start;
    margin-top: 2%;
}

p#colorOptions {
    cursor: pointer;
    margin: auto;
    padding: 0 20px 0 20px
}

/* *****************************
-------------KIWI!<3-----------
*******************************/

footer>i {
    cursor: not-allowed;
    font-size: 40px;
    position: relative;
    top: -45px;
    left: 60px;
}

.jump {
    -webkit-animation: jump 0.2s alternate infinite ease-in-out, moveRight 10s 1 linear forwards;
    animation: jump 0.2s alternate infinite ease-in-out, moveRight 10s 1 linear forwards;
}

@-webkit-keyframes jump {
    to {
        -webkit-transform: translatey(-20px);
        transform: translatey(-20px);
    }
}

@keyframes jump {
    to {
        -webkit-transform: translatey(-20px);
        transform: translatey(-20px);
    }
}

@-webkit-keyframes moveRight {
    to {
        -webkit-transform: translatex(100vw);
        transform: translatex(100vw);
    }
}

@keyframes moveRight {
    to {
        -webkit-transform: translatex(100vw);
        transform: translatex(100vw);
    }
}


@media only screen and (max-width: 768px) {

    #tvScreen,
    .tv {
        border-radius: 30px;
        border-width: 2px;
    }

    .tvContainer {
        margin: 0 1em
    }

    .lightswitch {
        max-height: 70px;
        margin-left: 0;
    }

    .clock {
        max-height: 120px;
        max-width: 120px;
    }

    .hours {
        max-height: 60px;
    }

    .minutes {
        max-height: 80px;
    }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {

    .container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    section:first-of-type {
        padding: 0 0 5em 0;
        align-items: flex-start;
    }

    footer,
    section:last-of-type,
    .lightswitchAntenna {
        display: none;
    }

    .tv {
        display: flex;
        flex-flow: column wrap;
        margin-top: -5em;
    }

    .buttonContainer {
        flex-direction: row;
        padding: 1rem;
        margin: 0;
        justify-content: space-evenly;
    }

    #tvScreen {
        height: 42.19vw;
        width: 75vw;
        margin: 1rem 1rem 0 1rem;
    }

    .tvContainer {
        margin: auto
    }

}