.container {
    height: 360px;
    width: 640px;
    border: 2px solid olive;
    background: url('sheeploop.png');
}

.container:hover {
    animation: play 1.8s steps(9) infinite alternate; cursor: help;
}

@keyframes play {
    100% {
        background-position-y: -3240px; 
    }
}


body {
    margin: 0;
    background-image: linear-gradient(transparent 80%, black 10%, olive);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    min-height: 100vh;
}


html {
    background-color:rgb(31, 2, 32)
}

.sun {
    font-size: 100px;
    color: pink;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    margin:auto;
}



@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}